@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{ --grid-columns: minmax(22ch,auto) 13ch 5ch 14ch 20ch 12ch 14ch; }

*{
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body{ margin: 0; }